body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#lcdScreen{
	background: #c4e0ff;
	padding: 20px;
	vertical-align: middle;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 2.2em;
	border: 1px solid #ccc;

}

.numero, .accion{
	background: #c4e0ff;
	padding: 20px;
	vertical-align: middle;
	margin:5px;
    border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}